* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(251, 248, 252);
  text-align: center;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  padding: 1rem 4rem;
  margin-top: auto;
  text-align: start;
}

header,
footer {
  background-color: rgb(233, 215, 233);
}

.time-container {
  padding: 1rem 3rem;
  text-align: end;
}

a {
  text-decoration: none;
  color: rgb(155, 126, 155);
}

a:hover {
  color: rgb(48, 38, 48);
}

.menu_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 4rem;
}

.menu_list_wrapper li:nth-of-type(even) {
  margin: 0 1.4rem;
  color: rgb(68, 55, 68);
}

h1 {
  margin-bottom: 6%;
  font-weight: 700;
}

.book-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 80%;
}

h2 {
  font-size: 1.6rem;
  margin-bottom: 6%;
  font-weight: 600;
}

h1,
h2,
input {
  color: rgb(68, 55, 68);
}

.book-list {
  border: 2px solid rgb(124, 103, 124);
  width: 60%;
  margin: 0 auto;
  border-radius: 4px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1.2rem;
}

ul:nth-of-type(odd) {
  background-color: rgb(233, 215, 233);
}

button {
  background-color: #fff;
  border: 1px solid rgb(124, 103, 124);
  color: rgb(124, 103, 124);
  border-radius: 4px;
  font-weight: 600;
}

.remove_btn {
  padding: 0.4rem;
  font-size: 0.8rem;
}

.add {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  align-self: flex-end;
}

form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  margin: auto;
}

input {
  padding: 1rem;
  border: 1px solid rgb(124, 103, 124);
  border-radius: 4px;
  font-weight: 500;
  font-size: 0.8rem;
  margin-bottom: 4%;
}

.contact-us {
  width: 30%;
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.contact-us h2 {
  text-align: center;
}

.contact-us p {
  text-align: start;
}

.contact-us ul {
  display: flex;
  list-style: circle;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 1rem auto;
  background-color: rgb(251, 248, 252);
}
